body{
    background-color: rgb(2, 14, 41);
}
.nav ul{
    color:white;
    text-align: center;
    justify-content: end;
    font-size: 20px;
    justify-content: space-between;

}
.rounded-circle{
    width:30vw;
    height:30vw;
    margin-top:15vh;
    
}
.nav ul li{
    list-style: none;
    display: inline;
    justify-content: space-between;
    
}
.container{
    background-color: rgb(57, 78, 78);
}
